main {
  background-color: rgb(151, 33, 7);
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgb(81, 166, 164);
  border-color: rgb(212, 255, 248);
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
}

.correcta,
.erronea {
  padding: 5px;
  color: white;
}

.correcta {
  background-color: green;
}

.erronea {
  background-color: red;
}

.j-header {
  text-align: center;
  background-color: brown;
}
